h3 {
  margin: 0;
  color: #323232;
}
body{
  height: 100vh;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}

.container {
  /* flex-direction: column; */
  /* background-color: rgb(206, 231, 248); */
  /* height: 100vh; */
  margin: auto;
}

.questions {
  /* margin: auto;
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: aliceblue;
  width: fit-content; */
}
.question {
  padding: 20px 10px;
  border-bottom: solid 1px #cecece;
}

.question h3 {
  padding: 10px 0;
}
.answers {
  padding: 10px 0;
}
span button {
  padding: 10px 20px;
  margin-top: 5px;
  margin-left: 10px;

  border-radius: 50px;
  background: white;
  border: 1px solid #777;
}

span button.selected{
  background-color: rgb(196, 207, 252);
}

span button.true{
  background-color: rgb(60, 213, 98);

}

span button.false{
  background-color: rgb(234, 102, 102);

}




.submit {
  display: flex;
  background-color:   rgb(128, 101, 218);
  padding: 10px 30px;
  color: white;
  border-radius: 10px;
  border: 1px solid;
  font-size: 20px;
  margin: auto; 
  margin-top: 30px;
  
}
.shape-one,
.shape-two {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  z-index: -2;
}
.shape-one {
  top: -50px;
  right: 0px;
  background-color: antiquewhite;
}
.shape-two {
  bottom: -30px;
  left: -50px;

  background-color: rgb(145, 186, 186);
}
